#search-btn:hover {
background-color:gray;
}

.city, .current-weather {
    font-size: large; 
    font-weight: bold;
}
.sub {
    font-size: medium;
}

.DOM {
    border: 1px gray;
    padding-top: 20px;
}

.inline {
    display: inline-block;
}

.DOM {
    border: 1px solid black;
}